# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/apps/web/node_modules
/apps/web/.cache
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
**/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env*.production
.env
.envs

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# other
.vscode
/venv
/apps/consensus-service/api/__pycache__
*.pyc
apps/web/prisma/seed.ts
apps/web/local_backup.sql
/apps/consensus-service/node_modules
/apps/consensus-service/python_packages
apps/web/scripts/test-api.env
/apps/consensus-service/api/__pycache__
